<?xml version="1.0"?>
<launch>	

 	<!-- Setup tao_fromlowlevel.launch -->
	<include file ="$(find tao_fromlowlevel)/launch/tao_fromlowlevel.launch"/>
  
	<!-- YDlidar -->
	<include file ="$(find ydlidar)/launch/lidar.launch"/>


	<!-- amcl_add_map -->
	 <node name="map_server" pkg="map_server" type="map_server" args="/home/thanachot/ttar/src/tao_maps/mapF5_2.yaml"/> 


 	
 	 <!-- amcl_differential_drive -->
	 <include file ="$(find amcl)/examples/amcl_diff.launch"/> 
	 

	<!-- Rviz -->
	<node name="rviz" pkg="rviz" type="rviz"/>





    
</launch>

