<?xml version="1.0"?>
<launch>	

 	<!-- Setup tao_fromlowlevel.launch -->
	<include file ="$(find tao_fromlowlevel)/launch/tao_fromlowlevel.launch"/>
  
	<!-- YDlidar -->
	<include file ="$(find ydlidar)/launch/lidar.launch"/>

	<!-- amcl_add_map -->
	 <node name="map_server" pkg="map_server" type="map_server" args="/home/thanachot/ttar/src/tao_maps/floor2.yaml"/> 
 	
 	 <!-- amcl_differential_drive -->
	 <include file ="$(find goal_pos)/launch/amcl.launch"/>
   
	 <!-- move base -->
  	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!--<param name="controller_frequency" value="5.0"/> global_planner/GlobalPlanner-->
    
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>  
    <!--param name="GlobalPlanner/use_dijkstra" value="true"/>
    <param name="GlobalPlanner/allow_unknown" value="true"/>
    <param name="GlobalPlanner/use_quadratic" value="true"/>
    <param name="GlobalPlanner/use_grid_path" value="false"/>
    <param name="GlobalPlanner/old_navfn_behavior" value="false"/>
    <param name="GlobalPlanner/visualize_potential" value="true"/>
    <param name="GlobalPlanner/cost_factor" type="double" value="0.55"/>
    <param name="GlobalPlanner/neutral_cost" type="int" value="66"/>
    <param name="GlobalPlanner/lethal_cost" type="int" value="253"/> -->


    <rosparam file="/home/thanachot/ttar/src/costmap_malao/launch/costmap_common.yaml" 
    	command="load" ns="global_costmap"/>

    <rosparam file="/home/thanachot/ttar/src/costmap_malao/launch/costmap_common.yaml" 
    	command="load" ns="local_costmap"/>

    <rosparam file="/home/thanachot/ttar/src/costmap_malao/launch/local_costmap.yaml" 
    	command="load"/>

    <rosparam file="/home/thanachot/ttar/src/costmap_malao/launch/global_costmap.yaml" 
    	command="load"/>

    <rosparam file="/home/thanachot/ttar/src/costmap_malao/launch/base_local_planner.yaml" 
    	command="load"/>

  	</node>

  	 <node pkg="goal_pos" type="tao_ui.py" name="tao_ui"/> 

  		<!-- Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find goal_pos)/rviz/rviz.rviz" required="true"/>



    
</launch>

